<%-include('partial/head')%>
<body>
    <div class="componentContainer">
        <div class="main_nav">
            <nav>
                <div class="img_container">
                    <img src="/img/logo.png" alt="logo">
                </div>
                <ul>
                    <li><a href="/adicionar-beneficiario">Adicionar beneficiário</a></li>
                    <li><a href="/adicionar-livro" class="active">Adicionar livro</a></li>
                    <li><a href="#">Visualizar doações</a></li>
                    <li><a href="/">sair</a></li>
                </ul>
            </nav>
        </div>
        <div class="contentcontainer">
            <%-include('partial/header')%>
            <section class="form--container">
                <div class="post--banner">
                    <h3>Adicionar livro</h3>
                </div>
                <form action="POST">
                    <p>Preencha os dados deste formulário:</p>
                    <input type="text" placeholder="Titulo:" required id="titulo">
                    <div class="organizer">
                        <input type="text" placeholder="ISBN:" required id="isbn">
                        <input type="text" placeholder="Autor:" required id="autor">
                    </div>
                    <div class="organizer">
                        <input type="text" placeholder="Gênero:" required id="genero">
                        <input type="text" placeholder="Editora:" required id="editora">
                    </div>
                    <input type="text" placeholder="Estoque:" required>
                    <div class="button_container">
                        <button class="confirm">Registrar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>
</html>