<%-include('partial/head')%>
<body>
    <div class="componentContainer">
        <div class="main_nav">
            <nav>
                <div class="img_container">
                    <img src="/img/logo.png" alt="logo">
                </div>
                <ul>
                    <li><a href="/adicionar-beneficiario" class="active">Adicionar beneficiário</a></li>
                    <li><a href="/adicionar-livro">Adicionar livro</a></li>
                    <li><a href="#">Visualizar doações</a></li>
                    <li><a href="/">sair</a></li>
                </ul>
            </nav>
        </div>
        <div class="contentcontainer">
            <%-include('partial/header')%>
            <section class="form--container">
                <div class="post--banner">
                    <h3>Adicionar Beneficiario</h3>
                </div>
                <form action="POST">
                    <p>Preencha os dados deste formulário:</p>
                    <p>Dados</p>
                    <input type="text" placeholder="Nome:" required>
                    <div class="organizer">
                        <input type="text" placeholder="CPF:" required>
                        <input type="text" placeholder="Data de nascimento:" required>
                    </div>
                    <p>Endereço</p>
                    <input type="text" placeholder="Rua:" required>
                    <div class="organizer">
                        <input type="text" placeholder="CEP:" required>
                        <input type="text" placeholder="Bairro:" required>
                    </div>
                    <div class="organizer">
                        <input type="text" placeholder="Numero:" required>
                        <input type="text" placeholder="Estado:" required>
                    </div>
                    <p>Contato:</p>
                    <input type="text" placeholder="E-mail:" required id="e-mail">  
                    <div class="organizer">
                        <input type="text" placeholder="DDD:" required id="DDD">  
                        <input type="text" placeholder="Celular:" required id="Celular">  
                    </div>
                    <div class="button_container">
                        <button class="confirm">Registrar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>
</html>