<header>
    <div class="config_nav">
        <ul>
            <li><a href="">Ajuda</a></li>
            <li><a href="">Configuração</a></li>
            <li class="version"><span>ver</span><br>11122</li>
        </ul>
    </div>
</header>