<div class="main_nav">
    <nav>
        <div class="img_container">
            <img src="/img/logo.png" alt="logo">
        </div>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/adicionar-beneficiario">Adicionar beneficiário</a></li>
            <li><a href="/adicionar-livro">Adicionar livro</a></li>
            <li><a href="#">Visualizar doações</a></li>
            <li><a href="#">sair</a></li>
        </ul>
    </nav>
</div>